{% extends 'base.html' %}
{% load bootstrap3 %}

{% block body %}
  <h3>{{ object }}</h3>

  {% if object.short_description %}
    <p>{{ object.short_description }}</p>
  {% endif %}

  {% buttons %}
    <a href="{% url update_url object.pk %}" class="btn btn-default">
      {% bootstrap_icon "pencil" %} Edit gallery
    </a>

    {% if show_add %}
      <a href="{% url 'gallery:photo_add' object.pk %}" class="btn btn-primary">
        {% bootstrap_icon "star" %} Add photo
      </a>
    {% endif %}
  {% endbuttons %}

  <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
    {% for photo in object.photo_items %}
        <a href="{{ photo.url }}-/stretch/fill/-/setfill/eee/-/resize/1200x700/">
          <img src="{{ photo.url }}-/scale_crop/64x64/center/" data-full="{{ photo.url }}" style="height:64px;width:100%;" />
        </a>
    {% endfor %}
  </div>
{% endblock %}
