{% extends 'base.html' %}
{% load bootstrap3 %}

{% block js %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block body %}
  <h3>{{ form_title }}</h3><br>
  <form action="" method="POST">{% csrf_token %}
    {% bootstrap_form form show_label=False %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% bootstrap_icon button_icon %} {{ button_title }}
      </button>
    {% endbuttons %}
  </form>

  {% if form.instance.pk %}
    <hr>
    <h4>Photos</h4>
    {% for p in form.instance.photo_set.all %}
      <a href="{% url 'gallery:photo-delete' p.pk %}" class="photo_remove_link js-remove-photo" title="Delete photo from gallery">
        <div class="photo_remove_overflow">
          <span class="glyphicon glyphicon-remove"></span>
        </div>
        <img src="{{ p.image.cdn_url }}-/scale_crop/64x64/center/" />
      </a>
    {% empty %}
      No photos yet.
    {% endfor %}
  {% endif %}


{% endblock %}
