{% extends 'base.html' %}
{% load bootstrap3 %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3>{{ object }}</h3>

        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
            {% for photo in object.photos %}
                <a href="{{ photo.cdn_url }}-/stretch/fill/-/setfill/eee/-/resize/1200x700/">
                  <img src="{{ photo.cdn_url }}-/scale_crop/64x64/center/" data-full="{{ photo.cdn_url }}" style="height:64px;width:100%;" />
                </a>
            {% endfor %}
        </div>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}
