{% extends 'base.html' %}
{% load bootstrap3 %}

{% block js %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form action="" method="POST">{% csrf_token %}
          {% bootstrap_form form show_label=False %}
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "camera" %} Add new photo
            </button>
          {% endbuttons %}
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}
